*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/imagen__fondo-retro2.jpg);
}

/* TITULO */

.contenedor__h1{
    text-align: center;
    color: gold;
    font-size: 28px;
}

/* Datos personales */

fieldset {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50px;
}
fieldset:nth-child(3){
    width: 50%;
    height: 200px;
}
legend {
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 2px -2px 20px rgb(220, 249, 4);
}
.input__one{
    display: flex;
    width: 50%;
    padding: 7px;
    margin: 0 auto;
    opacity: 0.7;
}
label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
select {
    display: flex;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 5px;
    opacity: 0.7;
}
textarea{
    width: 50%;
    display: flex;
    margin: 0 auto;
    opacity: 0.7;
}
.datos__personales{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.opciones2 {
    margin: 10px;
}

/* Actividades */ 

p {
    text-align: center;
    font-size: 22px;
    color: white;
}
.Actividades {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 20px;
}
.Actividades__input{
    margin: 10px;
}

/* Parte fianl de la pagina*/

.texto__final{
    font-size: 20px;
}
.input__final {
    font-size: 22px;
    color: white;
    margin-right: 350px;
    padding: 20px;
}

button{
    border: 2px solid black;
    padding: 15px;
    border-radius: 18px;
    opacity: 0.7;
    font-size: 14px;
}
button:hover {
    transform: scale(0);
    background: rgba(160, 165, 29, 0.701);
    transition: transform 3.5s;
}
.primerBottom{
    margin-left: 550px;
}
.segundoBottom{
    margin: 15px;
}

@media screen and (max-width: 500px) {
    body {
        margin: 0 auto;
    }
    fieldset {
        width: 60%;
        margin-left: 20px;
        margin-bottom: 80px;
    }
    fieldset:nth-child(3){
        width: 300px
    }
    .input__one{
        margin: 0 auto;
        width: 80%;
    }
    select{
        margin: 0 auto;
        width: 80%;
    }
    textarea {
        width: 80%;
        margin-left: 30px;
        padding: 20px;
    }
    .texto__final{
        margin-left: 60px;
    }
    .input__final{
        font-size: 20px;
        margin-left: 130px;
    }
    .primerBottom{
        margin-left: 10%;
    }
    .segundoBottom{
        margin: 20px;
    }
}




